<!DOCTYPE html>
<html>
<head>
  <title>Blogg</title>
  <%= stylesheet_link_tag    "blogg/application", :media => "all" %>
  <%= javascript_include_tag "blogg/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
