%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: Blogg.brand_url.present? ? Blogg.brand_url : Rails.application.routes.url_helpers.root_path}
        = t('blogg.settings.brand_text', default: Blogg.brand_text)
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to t('blogg.navigation.home'), root_path
        - Blogg::Post.static.each do |static_page|
          %li= link_to static_page.title, static_page
