%ul.list-inline.text-center
  - Blogg.social_links.each do |name, link|
    %li
      = link_to link, target: "_blank" do
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-stack-1x.fa-inverse{ class: "fa-#{name}"}
