%ul.list-inline.text-center
  %li
    %a{:href => "#"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-twitter.fa-stack-1x.fa-inverse
  %li
    %a{:href => "#"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-facebook.fa-stack-1x.fa-inverse
  %li
    %a{:href => "#"}
      %span.fa-stack.fa-lg
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-github.fa-stack-1x.fa-inverse
