= render 'blogg/shared/header', post: resource
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %h1 Editing post
      = render 'form'
      = link_to 'Show', resource
      |
      = link_to 'Back', root_path
